.main {
  grid-area: 2 / 2 / 5 / 4;
  border-radius: 26px;
  height: 100%;
  width: 100%;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.38);
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 26px;
    height: 100%;
    width: 100%;
  }
}
